<div *ngIf="message" class="modal fade show" id="modal" aria-labelledby="modalTitle" style="display: block"
     aria-modal="true" role="dialog" (click)="message.decline()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" (click)="$event.stopPropagation();">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">{{message.text}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="message.decline()">×</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="message.confirm()">Подтвердить
        </button>
        <button type="button" class="btn btn-dark" (click)="message.decline()">Отмена
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="message" class="modal-backdrop fade show" tabindex="-1">
</div>
