<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a *ngFor="let category of categories"
       class="p-2 text-muted"
       [routerLink]="'/home'"
       [queryParams]="{category: category.name}"
    >{{category.name}}</a>
  </nav>
</div>
