<body class="container">
<ali-admin-header></ali-admin-header>
<ali-show-message></ali-show-message>
<ali-confirm-modal></ali-confirm-modal>
<div class="wrapper">
  <!-- Sidebar  -->
  <ali-sidebar></ali-sidebar>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

</body>

