<div>
  <ali-loader *ngIf="isLoading$ | async "></ali-loader>
</div>
<div *ngIf="isLoaded$ | async">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-1">
        Номер
      </div>
      <div class="col-8 center">
        Комментарий
      </div>
      <div class="col-1 center">
        Ответы
      </div>
      <div class="col-2 right">
        Действие
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div *ngFor="let comment of newComments$ | async; let i = index">
      <div class="container accordion">
        <div class="row align-items-center card-header" >
          <div class="col-1"><a [routerLink]="['/post', comment.postCoolId]">{{i + 1}}.</a></div>
          <div class="col-8" (click)="rowClick(comment._id)">{{comment.text}}</div>
          <div class="col-1 center" (click)="rowClick(comment._id)">({{comment.subComments?.length}})</div>
          <div class="col-2 right" >
            <button class="btn btn-sm btn-danger" (click)="deleteComment(comment)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-trash2-fill"
                   viewBox="0 0 16 16">
                <path
                  d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div id="{{comment._id}}" class="collapse" aria-labelledby="headingOne">
        <div *ngFor="let subComment of comment.subComments; let i = index">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-1">{{i + 1}}.</div>
              <div class="col-8">{{subComment.text}}</div>
              <div class="col-3">
                <button class="btn btn-sm btn-danger" (click)="deleteSubComment(subComment, comment._id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-trash2-fill"
                       viewBox="0 0 16 16">
                    <path
                      d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
