<body class="container" [ngStyle]="{opacity: hiddenStyle}">
<div>
  <ali-loader *ngIf="isLoading$ | async "></ali-loader>
</div>
<form
  *ngIf="isLoaded$ | async"
  (ngSubmit)="createOrUpdatePost()"
  #editPostForm="ngForm"
  class="form-signin">
  <h1 class="h3 mb-3 text-center font-weight-normal">{{isNew ? 'Create' : 'Edit' }} Post:</h1>
  <div class="form-row">
    <label
      [ngStyle]="{'color': coolIdName.invalid && coolIdName.touched? 'hotpink':''}"
    >Красивый ID:</label>
    <span
      class="error-text"
      *ngIf="coolIdName.invalid && coolIdName.touched"
    >
        <span *ngIf="coolIdName.errors['required']">Не должен быть пустым.</span>
        <span *ngIf="coolIdName.errors['stringWithoutSpaces']">Не должен содержать пробелов</span>
      </span>
  </div>
  <input [(ngModel)]="coolId"
         type="coolId"
         name="coolId"
         id="coolId"
         required
         class="form-control mb-3"
         placeholder="Cool ID"
         #coolIdName="ngModel"
         aliStringWithoutSpaces
  >
  <ali-edit-main-post
    [mainPostBriefDesc]="mainPostBriefDesc"
    [isMain]="isMain"
    (onMainPostBriefDescEditEvent)="mainPostBriefDescWasEdited($event)"
    (onIsMainChangeEvent)="isMainWasChanged($event)"
  ></ali-edit-main-post>
  <div class="form-group">
    <div class="form-check form-check-inline ">
      <input [(ngModel)]="isHidden"
             type="checkbox"
             name="isHidden"
             id="isHidden"
             class="form-check-input"
             (change)="isHiddenCheck($event)"
      >
      <label class="form-check-label text-secondary" for="isHidden">
        Скрытый пост?
      </label>
    </div>
  </div>
  <ali-link-to-hidden-post
    [isHidden]="isHidden"
    [availableByToken]="availableByToken"
    [availabilityToken]="availabilityToken"
    [coolId]="coolId"
    (onTokenGenerated)="onTokenGenerated($event)"
  >
  </ali-link-to-hidden-post>

  <div class="form-row">
    <label>Категория:</label>
  </div>
  <div class="row row-cols-2">
    <div class="col">
      <select *ngIf="categories$ | async as categories;"
              class="form-control mb-3"
              name="category"
              id="category"
              [(ngModel)]="category"
              [compareWith]="compareCatsFn"
      >
        <option disabled [ngValue]="undefined">Выберете категорию</option>
        <option *ngFor="let cat of categories"
                [ngValue]="cat"
        >{{cat.name}}</option>
      </select>
    </div>
    <div class="col">
      <button type="button" class="btn btn-info center" (click)="openAddingCategoryModal()">Добавить категорию
      </button>
    </div>
  </div>
  <div class="form-row">
    <label>Тема:</label>
  </div>
  <input [(ngModel)]="title"
         name="title"
         id="inputTitle"
         class="form-control mb-3"
         placeholder="Title">
  <ali-tags
    [tags]="tags"
    (onTagAddedEvent)="tagWasAdded($event)"
    (onTagDeletedEvent)="tagWasDeleted($event)"
  ></ali-tags>
  <div class="form-row">
    <label>Картинка:</label>
  </div>
  <quill-editor [(ngModel)]="photo" name="photo" placeholder="photo" [modules]="modulesForPhoto"></quill-editor>
  <label class="mt-3">Текст статьи:</label>
  <quill-editor
    [(ngModel)]="text"
    name="text"
    placeholder="text"
    [modules]="modulesForText"
    (onEditorCreated)="onEditorCreated($event)"
  >
  </quill-editor>
  <div class="mb-3">
  </div>
  <div>
    <button
      class="btn btn-primary center"
      type="submit"
      [disabled]="!editPostForm.valid"
    >{{isNew ? 'Create' : 'Update' }}</button>
    <button type="button" class="btn btn-secondary center" (click)="cancel()">Cancel</button>
  </div>
</form>


<div class="modal fade show" id="modal" aria-labelledby="modalTitle" [ngStyle]="{display: modalDisplay}"
     aria-modal="true" role="dialog" (click)="cancelAddingCategory()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" (click)="$event.stopPropagation();">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Добавить категорию</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="cancelAddingCategory()">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <label>Название категории:</label>
        </div>
        <div class="form-row">
          <input
            type="text"
            name="categoryName"
            id="categoryName"
            class="form-control mb-3"
            placeholder="Name"
            required
            [(ngModel)]="categoryName"
          >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelAddingCategory()">Отмена
        </button>
        <button id="addCatButton" type="button" class="btn btn-primary" (click)="addCategory(categoryName)">Добавить
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" tabindex="-1" [ngStyle]="{display: modalDisplay}"
     (click)="cancelAddingCategory()">

</div>

</body>
