.container {
  max-width: 900px;
  margin-top: 3rem;
}

:host ::ng-deep .ql-snow .ql-editor pre.ql-syntax {
  background-color: #f1f1f1;
  color: black;
  overflow: visible;
}

.center {
  text-align: center;
  width: 50%;
}
span.error-text{
  color: hotpink;
  float: right;
}

input.ng-invalid.ng-touched {
  border: 1px solid hotpink
}

