<div class="row overflow-hidden flex-md-row mb-4 position-relative">
  <div *ngFor="let post of mainPosts$ | async" class="col-md-6">
    <div class="row no-gutters border rounded shadow-sm h-md-250 divh-250">
      <div class="col p-4 d-flex flex-column position-static ">
        <strong class="d-inline-block mb-2 text-primary">{{post.category.name}}</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <small class="text-muted">{{ post.createdDate | date: "short" }}</small>
        <p class="card-text mb-auto d-none d-lg-block d-xl-block">{{post.mainPostBriefDesc}}</p>
        <ali-read-more [linkToGo]="['/post', post.coolId]" [isStretchedLink]="true"></ali-read-more>
      </div>
      <div class="col-auto flex-column position-static d-none d-xl-block d-lg-none">
        <img
          [src]="post.image"
          class="main-post-img"
          xmlns="http://www.w3.org/2000/svg"
        >
      </div>

    </div>
  </div>

</div>
<!--<div class="row mb-2">-->
<!--  <div  *ngFor="let post of mainPosts$ | async" class="col-md-6">-->
<!--    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--      <div class="col p-4 d-flex flex-column position-static">-->
<!--        <strong class="d-inline-block mb-2 text-primary">World</strong>-->
<!--        <h3 class="mb-0">{{post.title}}</h3>-->
<!--        <div class="mb-1 text-muted">Nov 12</div>-->
<!--        <p class="card-text mb-auto">{{post.mainPostBriefDesc}}</p>-->
<!--        <a href="#" class="stretched-link">Continue reading</a>-->
<!--      </div>-->
<!--      <div class="col-auto d-none d-lg-block">-->
<!--        <img-->
<!--          [src]="post.image"-->
<!--          class="bd-placeholder-img"-->
<!--          width="200"-->
<!--          height="250"-->
<!--          xmlns="http://www.w3.org/2000/svg"-->
<!--        >-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
