.figure {
  position: relative;
  height: 400px;
  overflow: hidden;

  color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.photo {
  position: absolute;
  width: 100%;
  margin: -10% 0 0 0;
}

.card-body {
  margin-top: -1.5rem;
}

.container:before {
  content:"";
  background-color:#CCFFFF;
  position: absolute;
  height: 100%;
  width: 4000px;
  left: -2000px;
  z-index: -1;
}
