:host ::ng-deep .ql-snow .ql-editor pre.ql-syntax {
  background-color: #f1f1f1;
  color: black;
  overflow: visible;

  //&:before {
  //  counter-increment: line;
  //  content: counter(line);
  //  display: inline-block;
  //  border-right: 1px solid #ddd;
  //  padding: 0 .5em;
  //  margin-right: .5em;
  //  color: #888
  //}
}
