<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
               src="https://avatars.githubusercontent.com/u/46627415?s=400&u=dce9e42834ef67a574b27b99049348575a44e17c&v=4"
               alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Jon
            <strong>Snow</strong>
          </span>
          <span class="user-role">Administrator</span>

        </div>
      </div>
      <!-- sidebar-header  -->
      <!--        <div class="sidebar-search">-->
      <!--          <div>-->
      <!--            <div class="input-group">-->
      <!--              <input type="text" class="form-control search-menu" placeholder="Search...">-->
      <!--              <div class="input-group-append">-->
      <!--              <span class="input-group-text">-->
      <!--                <i class="fa fa-search" aria-hidden="true"></i>-->
      <!--              </span>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a aliAdminSidebarDropdown>
              <i class="fas fa-file-signature"></i>
              <span>Posts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/admin/post/list" routerLinkActive="active">All posts</a>
                </li>
                <li>
                  <a routerLink="/admin/post/new" routerLinkActive="active">Create post</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a aliAdminSidebarDropdown>
              <i class="fas fa-cat"></i>
              <span>Categories</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/admin/category/list" routerLinkActive="active">All categories</a>
                </li>
                <li>
                  <a routerLink="/admin/category/new" routerLinkActive="active">Create category</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a aliAdminSidebarDropdown>
              <i class="fas fa-tag"></i>
              <span>Tags</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/admin/tag/list" routerLinkActive="active">All tags</a>
                </li>
                <li>
                  <a routerLink="/admin/tag/new" routerLinkActive="active">Create tag</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a aliAdminSidebarDropdown>
              <i class="fas fa-comment"></i>
              <span>Comments</span>
              <span *ngIf="newCommentsAmount > 0" class="badge badge-pill badge-danger">{{newCommentsAmount}}</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['/admin/comment/list/new']" routerLinkActive="active">New Comments</a>
                </li>
                <li>
                  <a routerLink="/admin/comment/list" routerLinkActive="active">All comments</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a aliAdminSidebarDropdown>
              <!--              <i class="fas fa-desktop"></i>-->
              <i class="fas fa-cogs"></i>
              <span>Settings</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/admin/settings/title">Title</a>
                </li>
                <li>
                  <a href="#">Default Post Image</a>
                </li>
                <!--                <li>-->
                <!--                  <a href="#">Tables</a>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                  <a href="#">Icons</a>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                  <a href="#">Forms</a>-->
                <!--                </li>-->
              </ul>
            </div>
          </li>

          <!--          <li class="sidebar-dropdown">-->
          <!--            <a href="#">-->
          <!--              <i class="fa fa-globe"></i>-->
          <!--              <span>Maps</span>-->
          <!--            </a>-->
          <!--            <div class="sidebar-submenu">-->
          <!--              <ul>-->
          <!--                <li>-->
          <!--                  <a href="#">Google maps</a>-->
          <!--                </li>-->
          <!--                <li>-->
          <!--                  <a href="#">Open street map</a>-->
          <!--                </li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--          </li>-->
          <!--          <li class="header-menu">-->
          <!--            <span>Extra</span>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <a href="#">-->
          <!--              <i class="fa fa-book"></i>-->
          <!--              <span>Documentation</span>-->
          <!--              <span class="badge badge-pill badge-primary">Beta</span>-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <a href="#">-->
          <!--              <i class="fa fa-calendar"></i>-->
          <!--              <span>Calendar</span>-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <a href="#">-->
          <!--              <i class="fa fa-folder"></i>-->
          <!--              <span>Examples</span>-->
          <!--            </a>-->
          <!--          </li>-->
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!--      <div class="sidebar-footer">-->
    <!--        <a href="#">-->
    <!--          <i class="fa fa-bell"></i>-->
    <!--          <span class="badge badge-pill badge-warning notification">3</span>-->
    <!--        </a>-->
    <!--        <a href="#">-->
    <!--          <i class="fa fa-envelope"></i>-->
    <!--          <span class="badge badge-pill badge-success notification">7</span>-->
    <!--        </a>-->
    <!--        <a href="#">-->
    <!--          <i class="fa fa-cog"></i>-->
    <!--          <span class="badge-sonar"></span>-->
    <!--        </a>-->
    <!--        <a href="#">-->
    <!--          <i class="fa fa-power-off"></i>-->
    <!--        </a>-->
    <!--      </div>-->
  </nav>
  <!-- sidebar-wrapper  -->
  <!--    <main>-->
  <!--      <div>-->
  <!--        <router-outlet></router-outlet>-->
  <!--      </div>-->
  <!--    </main>-->
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<!--  <ul class="list-unstyled CTAs">-->
<!--    <li>-->
<!--      <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>-->
<!--    </li>-->
<!--  </ul>-->

