.container {
  max-width: 400px;
}
.form-control {
  margin-bottom: 3px;
}
.error-text {
  color: hotpink;
}

input.ng-invalid.ng-touched {
  border: 1px solid hotpink
}

//::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//  color: hotpink;
//  opacity: 1; /* Firefox */
//}
