<body class="text-center container">
<form (ngSubmit)="signUp(regForm)" class="form-signin"
      #regForm="ngForm">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <input
    id="inputName"
    type="name"
    name="name"
    class="form-control"
    placeholder="Name"
    ngModel
    required
    #inputName="ngModel"
  >
  <span
    class="error-text"
    *ngIf="inputName.invalid && inputName.touched"
  >
          <span *ngIf="inputName.errors['required']">Name should not be empty</span>
      </span>
  <input
    id="inputLogin"
    type="login"
    name="login"
    class="form-control"
    placeholder="Login"
    required
    ngModel
    aliStringWithoutSpaces
    #login="ngModel"
  >
  <span
    class="error-text"
    *ngIf="login.invalid && login.touched"
  >
          <span *ngIf="login.errors['required']">Login should not be empty</span>
      </span>
  <input
    id="inputEmail"
    type="email"
    name="email"
    class="form-control"
    placeholder="Email address"
    required
    email
    ngModel
    #email="ngModel"
  >
  <span
    class="error-text"
    *ngIf="email.invalid && email.touched"
  >
        <span *ngIf="email.errors['required']">Email should not be empty</span>
        <span *ngIf="email.errors['email']">Please input correct email</span>
      </span>
  <input
    id="inputPassword"
    type="password"
    name="password"
    class="form-control"
    placeholder="Password"
    required
    minlength="8"
    ngModel
    aliPassword
    #pass="ngModel"
  >
  <span
    class="error-text"
    *ngIf="pass.invalid && pass.touched"
  >
          <span *ngIf="pass.errors['required']">Password should not be empty</span>
          <span *ngIf="pass.errors['minlength'] && pass.errors['minlength']['requiredLength']">
            Password should have more than {{pass.errors['minlength']['requiredLength']}} symbols,
            now {{pass.errors['minlength']['actualLength']}}
        </span>
          <span *ngIf="pass.errors['passwordNotValid']">Password should contain at least one digit and one capital letter</span>
  </span>
  <input
    id="inputConfirmPassword"
    type="password"
    name="confirmPassword"
    class="form-control"
    placeholder="Confirm Password"
    aliConfirmPassword="password"
    ngModel
    #confirmPass="ngModel"
  >
  <span
    class="error-text"
    *ngIf="confirmPass.invalid && confirmPass.touched"
  >
      <span *ngIf="confirmPass.errors['passwordMatchError']">Passwords are not the same</span>
      </span>
  <div class="checkbox mb-3">
  </div>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="!regForm.valid"
  >Sign up
  </button>
  <p class="mt-5 mb-3 text-muted">© 2020</p>
</form>

</body>
