<body class="vsc-initialized">

  <div class="container">
    <ali-header></ali-header>
    <ali-show-message></ali-show-message>
    <ali-category-pane></ali-category-pane>
    <ali-title *ngIf="!router.url.includes('/about')"></ali-title>
    <ali-title *ngIf="router.url.includes('/about')" [showDefault]="true"></ali-title>
    <ali-main-posts-page
      *ngIf="!router.url.includes('/post/') && !router.url.includes('/about') && !router.url.includes('/not-found')">
    </ali-main-posts-page>
  </div>

  <main role="main" class="container">
    <div class="row">
      <aside class="col-md-1 blog-sidebar">
        <ali-left-sidebar
          *ngIf="!router.url.includes('/about') && !router.url.includes('/not-found')">
        </ali-left-sidebar>
      </aside>
      <div class="col-md-8 blog-main">
        <router-outlet></router-outlet>
      </div>
      <aside class="col-md-3 blog-sidebar">
        <ali-right-sidebar>
        </ali-right-sidebar>
      </aside>
    </div>
  </main>
  <ali-footer></ali-footer>
</body>
