<div *ngIf="isLoaded$ | async">
  <div *ngIf="posts$ | async as posts">
    <div *ngIf="posts.length !== 0; else empty">
      <table class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Категория</th>
          <th scope="col">Автор</th>
          <th scope="col">Дата создания</th>
          <th scope="col">Дата редактирования</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i = index; let post of posts"
            [ngClass]="{'table-info': post.isMain && post.isHidden,'table-warning': post.isMain && !post.isHidden, 'table-secondary': !post.isMain && post.isHidden}"
            (click)="choosePost(post.coolId)"
        >
          <th scope="row">{{(currentPage - 1) * limit + i + 1}}.</th>
          <td>{{post.title}}</td>
          <td>{{post.category.name}}</td>
          <td>{{post.author}}</td>
          <td>{{post.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>{{post.updatedDate | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <div>
              <button class="btn btn-sm btn-info" [routerLink]="['/admin/post', post.coolId]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                     viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button>
              <button class="btn btn-sm btn-danger" (click)="$event.stopPropagation();deletePost(post._id, post.title)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash2-fill"
                     viewBox="0 0 16 16">
                  <path
                    d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                </svg>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <ali-pagination *ngIf="allPostsAmount$ | async as postsAmount"
                      [itemsAmount]=postsAmount
                      [currentPage]=currentPage
                      [numberOfItemsPerPage]=limit
                      [apiUrl]="'/admin/post/list'"
      ></ali-pagination>
    </div>
  </div>
</div>
<ng-template #empty>
  <div>
    Нет постов :(
  </div>
</ng-template>
<div>
  <ali-loader *ngIf="isLoading$ | async "></ali-loader>
</div>
