<div class="form-group">
  <div class="form-check form-check-inline ">
    <input [(ngModel)]="isMain"
           type="checkbox"
           name="isMain"
           id="isMain"
           class="form-check-input"
           (change)="isMainCheck($event)"
    >
    <label class="form-check-label text-primary" for="isMain">
      Главный пост?
    </label>

  </div>
  <div *ngIf="showMainPostText">
      <textarea
        type="briefText"
        name="briefText"
        id="mainPostText"
        class="form-control mb-3"
        placeholder="Короткое описание на 100 символов!"
        maxlength="100"
        [(ngModel)]="mainPostBriefDesc"
        (ngModelChange)="mainTextInput($event)"
        (blur)="blurEvent()"
      >
    </textarea>
    <span class="mb-3" [ngStyle]="{color: spanStyle}">{{mainPostBriefDescCounter}}/100</span>
  </div>
</div>
