<body class="text-center container">
<form (ngSubmit)="signIn(loginForm)" class="form-signin"
      #loginForm="ngForm">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <input
    id="inputLogin"
    type="login"
    name="login"
    class="form-control"
    placeholder="Login or email"
    required
    ngModel
    #login="ngModel"
  >
  <span
    class="error-text"
    *ngIf="login.invalid && login.touched"
  >
          <span *ngIf="login.errors['required']">Please fill login or email</span>
      </span>
  <input
    id="inputPassword"
    type="password"
    name="password"
    class="form-control"
    placeholder="Password"
    required
    ngModel
    #pass="ngModel"
  >
  <span
    class="error-text"
    *ngIf="pass.invalid && pass.touched"
  >
          <span *ngIf="pass.errors['required']">Password should not be empty</span>
  </span>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="!loginForm.valid"
  >Sign in
  </button>
  <p class="mt-5 mb-3 text-muted">© 2021</p>
</form>

</body>
