<body class="container">
<form (ngSubmit)="createOrUpdateTag(f)" #f="ngForm" class="form-signin">
  <h1 class="h3 mb-3 text-center font-weight-normal">{{isNew ? 'Create' : 'Edit' }} Tag:</h1>

  <div class="form-row">
    <label>Название тэга:</label>
  </div>
  <div class="form-row">
    <input
      type="text"
      name="tagName"
      id="tagName"
      class="form-control mb-3"
      placeholder="Name"
      required
      [(ngModel)]="tagName"
    >
  </div>
  <div>
    <button [disabled]="!f.valid" class="btn btn-primary center"
            type="submit">{{isNew ? 'Create' : 'Update' }}</button>
    <button class="btn btn-secondary center" (click)="cancel()">Cancel</button>
  </div>
</form>


</body>
