body {
  background: #eee;
}

.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after {
  content: "";
  display: table;
  clear: both;
}

.blog-comment ul {
  list-style-type: none;
  padding: 0;
}

.blog-comment img {
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.blog-comment img.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 65px;
  height: 65px;
}

.blog-comment .post-comments {
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6b6e80;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.blog-comment .post-comments.active {
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6b6e80;
  position: relative;
  box-shadow: 0 0 5px rgb(0, 123, 255);
}
.blog-comment ul.comments ul {
  list-style-type: none;
  padding: 0;
  margin-left: 85px;
}

.btn {
  border-radius: 2rem;
  margin-bottom: 10px;
  margin-right: .75rem;
}

.form-control {
  height: 48px;
  border-radius: 2rem;
}

.form-control-textarea {
  height: 192px;
  border-radius: 2rem;
}

.input-group-textarea {
  margin-top: -10px;
}

.form-control-reply {
  height: 48px;
  border-radius: 2rem;
}

.form-control-textarea-reply {
  height: 96px;
  border-radius: 2rem;
}

.span-radius {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

p.space {
  padding-right: 12px;
}

a.link,
a.link:hover {
  color: #007bff;
  cursor: pointer;
}

.pull-right {
  float:right;
}

a.link .tooltipText {
  visibility: hidden;
  width: 100px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

a.link:hover .tooltipText {
  visibility: visible;
}

.commentLength {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 8px;
  padding-right: 6px;
}

input.ng-invalid.ng-touched::placeholder {
  color: hotpink;
}
textarea.ng-invalid.ng-touched::placeholder {
  color: hotpink;
}
input.ng-invalid.ng-touched:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hotpink;
}
input.ng-invalid.ng-touched::-ms-input-placeholder { /* Microsoft Edge */
  color: hotpink;
}
textarea.ng-invalid.ng-touched:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hotpink;
}
textarea.ng-invalid.ng-touched::-ms-input-placeholder { /* Microsoft Edge */
  color: hotpink;
}
