<div class="container">
  <h3 class="pb-4 mb-4 font-italic border-bottom">Комментарии:</h3>
  <div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text span-radius"
              id="name"
              [ngStyle]="{'color': commentAuthorNameRef.invalid && commentAuthorNameRef.touched? 'hotpink':''}"
        >Имя</span>
      </div>
      <input [(ngModel)]="commentAuthorName"
             name="commentAuthorName"
             type="text"
             required
             class="form-control"
             [placeholder]="commentAuthorNamePlaceHolder"
             aria-label="Username"
             aria-describedby="name"
             #commentAuthorNameRef="ngModel"
             (blur)="commentAuthorNameBlur(commentAuthorNameRef)"
      >
    </div>
    <div class="input-group mb-3 input-group-textarea">
      <div class="input-group-prepend">
        <span class="input-group-text span-radius"
              id="comment"
              [ngStyle]="{'color': commentTextRef.invalid && commentTextRef.touched? 'hotpink':''}"
        >Комментарий</span>
      </div>
      <textarea class="form-control form-control-textarea"
                [placeholder]="commentTextPlaceHolder"
                aria-label="Comment"
                aria-describedby="comment"
                name="comment"
                maxlength="3000"
                required
                [(ngModel)]="commentText"
                (ngModelChange)="commentTextInput($event)"
                (blur)="commentTextBlur(commentTextRef)"
                #commentTextRef="ngModel"
      ></textarea>
    </div>
    <div class="row justify-content-end">
      <span class="mb-3 commentLength" [ngStyle]="{color: commentTextSpanStyle}">{{commentTextLength}}/3000</span>
      <button class="col-md-5 btn btn-outline-primary justify-content-end add-comment-btn"
              (click)="addComment()"
              [disabled]="!(commentAuthorNameRef.valid && commentTextRef.valid)"
      >Добавить комментарий
      </button>
    </div>
  </div>
  <div>
    <ali-loader *ngIf="isLoading$ | async "></ali-loader>
  </div>
  <div class="row justify-content-center" *ngIf="isLoaded$ | async">
    <div class="col-md-12">
      <div class="blog-comment">
        <ul class="comments">
          <li *ngFor="let comment of comments$ | async ">
            <div id="{{comment._id}}" class="post-comments">
              <p class="meta">{{comment.createdDate | date : 'short'}}
                <span *ngIf="comment.author !== 'AliJester'" style="color: #007bff; ">{{comment.author}}</span>
                <span *ngIf="comment.author === 'AliJester'" class="badge badge-pill badge-primary">{{comment.author}}</span>
                говорит : <i class="pull-right">
                  <a class="link" (click)="showAddCommentBlock(comment._id)"><small><i
                    class="fas fa-reply"></i></small>
                    <input class="tooltipText btn btn-outline-primary" value="Ответить" disabled/>
                  </a>
                </i>
              </p>
              <p>
                {{comment.text}}
              </p>
            </div>
            <div *ngIf="comment._id === chosenComment">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text span-radius"
                        id="replyName"
                        [ngStyle]="{'color': replyCommentAuthorNameRef.invalid && replyCommentAuthorNameRef.touched? 'hotpink':''}"
                  >Имя</span>
                </div>
                <input [(ngModel)]="replyCommentAuthorName"
                       required
                       name="replyCommentAuthorName"
                       type="text"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="name"
                       [placeholder]="replyCommentAuthorNamePlaceHolder"
                       (blur)="replyCommentAuthorNameBlur(replyCommentAuthorNameRef)"
                       #replyCommentAuthorNameRef="ngModel"
                >
              </div>
              <div class="input-group mb-3 input-group-textarea">
                <div class="input-group-prepend">
                  <span class="input-group-text span-radius"
                        id="replyComment"
                        [ngStyle]="{'color': replyCommentTextRef.invalid && replyCommentTextRef.touched? 'hotpink':''}"
                  >Комментарий</span>
                </div>
                <textarea class="form-control form-control-textarea-reply"
                          aria-label="Comment"
                          aria-describedby="comment"
                          maxlength="3000"
                          required
                          name="replyCommentText"
                          [(ngModel)]="replyCommentText"
                          (ngModelChange)="replyCommentTextInput($event)"
                          [placeholder]="replyCommentTextPlaceHolder"
                          (blur)="replyCommentTextBlur(replyCommentTextRef)"
                          #replyCommentTextRef="ngModel"
                ></textarea>
              </div>
              <div class="row justify-content-end">
              <span class="mb-3 commentLength"
                    [ngStyle]="{color: replyCommentTextSpanStyle}">{{replyCommentTextLength}}
                /3000</span>
                <button class="col-md-4 btn btn-outline-primary justify-content-end add-comment-btn"
                       (click)="reply(comment._id, comment._id, comment.author)"
                        [disabled]="!(replyCommentAuthorNameRef.valid && replyCommentTextRef.valid)"
                >Ответить</button>
              </div>
            </div>
            <ul class="comments">
              <li *ngFor="let subComment of comment.subComments">
                <div id="{{subComment._id}}" class="post-comments">
                  <p class="meta">{{subComment.createdDate | date : 'short'}}
                    <span *ngIf="subComment.author !== 'AliJester'" style="color: #007bff; ">{{subComment.author}}</span>
                    <span *ngIf="subComment.author === 'AliJester'" class="badge badge-pill badge-primary">{{subComment.author}}</span>
                    отвечает
                    <span style="color: #28a745;"
                          (mouseover)="showReplyComment(subComment.replyPostId)"
                          (mouseleave)="hideReplyComment(subComment.replyPostId)"
                    >
                      {{subComment.replyPostAuthor}}</span>
                    :
                    <i class="pull-right">
                      <a class="link" (click)="showAddCommentBlock(subComment._id)"><small><i
                        class="fas fa-reply"></i></small>
                        <input class="tooltipText btn btn-outline-primary" value="Ответить" disabled/>
                      </a>
                    </i>
                  </p>
                  <p>
                    {{subComment.text}}
                  </p>
                </div>
                <div *ngIf="subComment._id === chosenComment">
                  <div class="input-group mb-3 input-group-textarea">
                    <div class="input-group-prepend">
                      <span class="input-group-text span-radius"
                            id="replySubName"
                            [ngStyle]="{'color': replySubCommentAuthorNameRef.invalid && replySubCommentAuthorNameRef.touched? 'hotpink':''}"
                      >Имя</span>
                    </div>
                    <input [(ngModel)]="replyCommentAuthorName"
                           type="text"
                           required
                           class="form-control"
                           aria-label="Username"
                           aria-describedby="name"
                           [placeholder]="replySubCommentAuthorNamePlaceHolder"
                           (blur)="replySubCommentAuthorNameBlur(replySubCommentAuthorNameRef)"
                           #replySubCommentAuthorNameRef="ngModel"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text span-radius"
                            id="replySubComment"
                            [ngStyle]="{'color': replySubCommentTextRef.invalid && replySubCommentTextRef.touched? 'hotpink':''}"
                      >Комментарий</span>
                    </div>
                    <textarea [(ngModel)]="replyCommentText"
                              class="form-control form-control-textarea-reply"
                              aria-label="Comment"
                              aria-describedby="comment"
                              required
                              maxlength="3000"
                              (ngModelChange)="replySubCommentTextInput($event)"
                              [placeholder]="replySubCommentTextPlaceHolder"
                              (blur)="replySubCommentTextBlur(replySubCommentTextRef)"
                              #replySubCommentTextRef="ngModel"
                    ></textarea>
                  </div>
                  <div class="row justify-content-end">
                    <span class="mb-3 commentLength" [ngStyle]="{color: replySubCommentTextSpanStyle}">{{replySubCommentTextLength}}/3000</span>
                    <button class="col-md-4 btn btn-outline-primary justify-content-end add-comment-btn"
                            (click)="reply(subComment._id, comment._id, subComment.author)"
                            [disabled]="!(replySubCommentTextRef.valid && replySubCommentAuthorNameRef.valid)"
                    >Ответить
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
