<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal" (click)="goToHome()">Blog</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Home</a>
    <a class="p-2 text-dark" routerLink="/about">About</a>
    <a *ngIf="authService.isAuthenticated()" class="p-2 text-dark" routerLink="/admin">Admin</a>
  </nav>
<!--  <a *ngIf="!authService.isAuthenticated()" class="btn btn-outline-primary mr-3" routerLink="/auth">Sign in</a>-->
<!--  <a *ngIf="!authService.isAuthenticated()" class="btn btn-outline-primary" routerLink="/reg">Sign up</a>-->
  <a *ngIf="authService.isAuthenticated()" class="btn btn-outline-warning" (click)="logoutUser()">Logout</a>
</div>
