@import '../../shared/styles/shared';

:host ::ng-deep .ql-editor li:not(.ql-direction-rtl)::before {
  color: #007bff;
  border-right: solid green 2.5px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.7rem !important;
}

:host ::ng-deep .ql-editor ol {
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  ::ng-deep .ql-snow .ql-editor h3 {
    font-size: 0.7rem;
  }
}

i {
  padding-right: 15px;
}
a {
  padding-left: 2px;
  color: #6c757d;
}
a:hover {
  padding-left: 2px;
  color: #007bff;
}
.badge-cat {
  font-size: 75% !important;
}
.badge-tag {
  font-size: 100% !important;
}
