<div class="container">
  <div>
    <ali-loader *ngIf="isLoading$ | async "></ali-loader>
  </div>
  <div class="blog-post" *ngIf="isLoaded$ | async">
    <div *ngIf="post$ | async as post" class="container">
      <span class="badge badge-cat badge-pill badge-info">{{ post.category.name }}</span>
      <div class="m-0 d-flex justify-content-between align-items-center">
        <h1>
          {{ post.title }}
        </h1>
      </div>
      <div class="m-0 d-flex justify-content-between align-items-center">
        <small
          class="text-muted">
          <i class="fas fa-user">
            <a
              [routerLink]="'/home'"
              [queryParams]="{author: post.author}"
            >@{{ post.author }}</a>
          </i>
        </small>
        <small *ngIf="post.tags.length>0" class="text-muted">
          <i class="fas fa-tags">
            <a class="badge badge-tag" *ngFor="let tag of post.tags"
               [routerLink]="'/home'"
               [queryParams]="{tag: tag.name}"
            >{{tag.name}}</a>
          </i>
        </small>
        <small class="text-muted">
          <i class="fas fa-comment">
            comments {{commentsCount}}
          </i>
        </small>
        <small class="text-muted">
          <i class="fas fa-calendar">
            {{ post.createdDate | date: "mediumDate" }}
          </i>
        </small>
      </div>
      <quill-view [content]="post.photo"></quill-view>
      <div class="mt-2 mb-3">
        <quill-view [content]="post.text | postText"></quill-view>
      </div>
    </div>
<!--    <ng-template #loader>-->
<!--      <ali-loader></ali-loader>-->
<!--    </ng-template>-->
    <ali-bottom-nav
      [hiddenRight]="true"
      [apiUrl]="'/'"
      [leftButtonName]="'На главную'"
    ></ali-bottom-nav>
    <div>
      <ali-comments
        [postId]="currentPostId"
        [postCoolId]="currentPostCoolId"
        (onCommentsCount)="onCommentsCount($event)"
      ></ali-comments>
    </div>
  </div>


</div>
