<nav class="blog-pagination">
<!--  <a class="btn btn-outline-primary" href="#">Older</a>-->
  <a [routerLink]="[apiUrlProps]"
     [queryParams]="queryParamLeft"
     [hidden]="hiddenLeftProps"
     [ngClass]="{'btn-outline-secondary disabled': currentPageProps === numberOfPages}"
     class="btn btn-outline-primary">
    <i class="fas fa-long-arrow-alt-left"></i> {{leftButtonNameProps}}
  </a>
  <a [routerLink]="[apiUrlProps]"
     [queryParams]="queryParamRight"
     [hidden]="hiddenRightProps"
     [ngClass]="{'btn-outline-secondary disabled': currentPageProps <= 1}"
     class="btn btn-outline-primary">
    {{rightButtonNameProps}} <i class="fas fa-long-arrow-alt-right"></i>
  </a>

<!--  <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>-->
</nav>
