<footer class="blog-footer">
  <p>Copyright © 2021 Junior JavaScript Developer Blog.</p>
  <p>Перепечатывание материалов блога с указанием первоисточника только приветствуется.</p>
  <p>Если вы считаете, что какая-то статья в этом блоге нарушает чьи-то авторские права, пожалуйста, напишите мне об
    этом.</p>
  <p>If you really think that any article in this blog violates someone’s copyright, please email me about
    it
  </p>
  <p>
    <a href="" (click)="goOnTop($event)">Back to top</a>
  </p>
</footer>
