<div class="form-group" *ngIf="isHiddenProps">
  <div class="form-check form-check-inline ">
    <input [(ngModel)]="availableByToken"
           type="checkbox"
           name="availableByToken"
           id="availableByToken"
           class="form-check-input"
           (change)="isAvailableByTokenCheck($event)"
    >
    <label class="form-check-label text-secondary" for="availableByToken">
      Доступен по ссылке?
    </label>
  </div>
  <div *ngIf="isHiddenProps && showPostLinkBlock">
    <div class="row row-cols-2 align-items-center">
      <div class="col">
        <label for="availableByTokenTime">
          Доступен минут?
        </label>
        <input [(ngModel)]="availableByTokenTime"
               type="input"
               name="availableByTokenTime"
               id="availableByTokenTime"
        >
      </div>
      <div class="col">
        <button id="generateLinkButton" type="button" class="btn btn-success" (click)="generateLink()">Сгенерировать
          ссылку
        </button>
      </div>
      <div class="col">
        <label for="availableByTokenResult">
          Результат:
        </label>
        <textarea [(ngModel)]="availableByTokenResult"
                  name="availableByTokenResult"
                  id="availableByTokenResult"
                  class="form-control mb-3"
                  #result
        ></textarea>
      </div>
      <div class="col">
        <button type="button" class="btn btn-warning center" (click)="copyLink(result)">Копировать ссылку</button>
      </div>
    </div>
    <div class="row row-cols-2">
    </div>
  </div>
</div>
