<!--<div class="figure">-->
<!--  <img class="photo" src="https://www.la-palafitta.com/website-images/test/image-thumb__33__header-large/lapalafitta-03.jpeg" alt="">-->
<!--  <div class="col-md-6 px-0 p-5">-->
<!--    <h1 class="display-4 font-italic">Welcome!</h1>-->
<!--    <p class="lead my-3">This blog publishes news from the world of technology, business, travel, culture, fashion, health. Join us, register now and write your first post!</p>-->
<!--    <p class="lead mb-0"><a [routerLink]="['/reg']" class="text-white font-weight-bold">Registration...</a></p>-->
<!--  </div>-->
<!--</div>-->

<div class="jumbotron p-4 p-md-5 text-white rounded w-100"
     style="background-size: cover; height: 450px;"
     [ngStyle]="{'background-image': 'url(' + url + ')'}">

  <div class="col-md-6 px-0 ">
    <h1 class="display-4 font-italic">Очередной айтишный блог</h1>
    <p class="lead my-3 w-100">для начинающих (и не только) разработчиков от начинающего разработчика</p>
  </div>
</div>
