<body class="container">
<!--<div>-->
<!--  <ali-loader *ngIf="isLoading$ | async "></ali-loader>-->
<!--</div>-->
<form
  (ngSubmit)="updateTitlePage()"
  #editTitleForm="ngForm"
  class="form-signin">
  <input
    type="file"
    [ngStyle]="{'display': 'none'}"
    (change)="onFileUpload($event)"
    #loadImg
  >
  <div class="form-row">
    <label>Ночь:</label>
  </div>
  <div>
    <img
      *ngIf="nightImagePreview"
      class="responsive-img h200"
      [ngStyle]="{'height': '200px'}"
      [src]="nightImagePreview"
    >
    <button
      id="night"
      (click)="loadImage(NIGHT)"
      [disabled]="editTitleForm.disabled"
      type="button"
      class="btn btn-dark center">
      Загрузить изображение ночи
    </button>
  </div>
  <div class="form-row">
    <label>Утро:</label>
  </div>
  <div>
    <img
      *ngIf="morningImagePreview"
      class="responsive-img h200"
      [ngStyle]="{'height': '200px'}"
      [src]="morningImagePreview"
    >
    <button
      id="morning"
      (click)="loadImage(MORNING)"
      [disabled]="editTitleForm.disabled"
      type="button"
      class="btn btn-light center">
      Загрузить изображение утра
    </button>
  </div>
  <div class="form-row">
    <label>День:</label>
  </div>
  <div>
    <img
      *ngIf="dayImagePreview"
      class="responsive-img h200"
      [ngStyle]="{'height': '200px'}"
      [src]="dayImagePreview"
    >
    <button
      id="day"
      (click)="loadImage(DAY)"
      [disabled]="editTitleForm.disabled"
      type="button"
      class="btn btn-success center">
      Загрузить изображение дня
    </button>
  </div>
  <div class="form-row">
    <label>Вечер:</label>
  </div>
  <div>
    <img
      *ngIf="eveningImagePreview"
      class="responsive-img h200"
      [ngStyle]="{'height': '200px'}"
      [src]="eveningImagePreview"
    >
    <button
      id="evening"
      (click)="loadImage(EVENING)"
      [disabled]="editTitleForm.disabled"
      type="button"
      class="btn btn-warning center">
      Загрузить изображение вечера
    </button>
  </div>
  <div class="form-row">
    <label>По умолчанию:</label>
  </div>
  <div>
    <img
      *ngIf="defaultImagePreview"
      class="responsive-img h200"
      [ngStyle]="{'height': '200px'}"
      [src]="defaultImagePreview"
    >
    <button
      id="default"
      (click)="loadImage('default')"
      [disabled]="editTitleForm.disabled"
      type="button"
      class="btn btn-info center">
      Загрузить изображение по умолчанию
    </button>
  </div>
  <div class="mb-3">
  </div>
  <div>
    <button
      class="btn btn-primary center"
      type="submit"
      [disabled]="!editTitleForm.valid"
    >{{'Save'}}</button>
    <button type="button" class="btn btn-secondary center" (click)="cancel()">Cancel</button>
  </div>
</form>

</body>
