.container {
  max-width: 900px;
  margin-top: 3rem;
}

.center {
  text-align: center;
  width: 50%;
}
span.error-text{
  color: hotpink;
  float: right;
}

input.ng-invalid.ng-touched {
  border: 1px solid hotpink
}

