<aside class="sidebar">
  <div class="component">
    <div>
      <ali-about-sidebar
        *ngIf="!router.url.includes('/about') && !router.url.includes('/not-found')">
      ></ali-about-sidebar>
      <ali-about-me
        *ngIf="router.url.includes('/about') && !router.url.includes('/not-found')">
      ></ali-about-me>
<!--      <ali-archives></ali-archives>-->
    </div>
  </div>
</aside>

