span.badge-dark:hover {
  cursor: pointer;
}

.tagDiv {
  border: 1px solid rgb(206, 212, 218);;
  margin: 2px;
  border-radius:.25rem;
  height: 38px;
  z-index: 100;
}

.tagSpanDiv {
  padding-top: 3px;
}

input.tagInput,input.tagInput:focus  {
  margin-left: -25px;
  border-width:0px;
  border:none;
  height: 30px;
  box-shadow: none;
  padding: 10px;
}
