<div class="form-row">
  <label>Тэги:</label>
</div>
<div class="row justify-content-start tagDiv"
     [ngStyle]="{'background-color': tags.length === 5 ? '#e9ecef':''}"
>
  <div class="col-md-auto tagSpanDiv" *ngIf="tags.length > 0">
      <span #tagSpan *ngFor="let tag of tags; let idx = index" class="badge badge-pill badge-primary"
            [ngClass]="{
            'badge-primary': idx == 0,
            'badge-warning': idx == 1,
            'badge-info': idx==2,
            'badge-success': idx==3,
            'badge-danger': idx==4,
            'badge-light': idx > 4
            }"

      >{{tag.name}}
        <span class="badge badge-pill badge-dark" (click)="removeTag($event, tagSpan)">X</span>
      </span>
  </div>
  <div class="col mb-3 sm-3">
    <input [(ngModel)]="tag"
           name="tag"
           id="inputTag"
           class="form-control mb-3 tagInput"
           placeholder="+Tag (max 5)"
           (keydown.enter)="addTag($event)"
           [disabled]="tags.length === 5"
    >
  </div>
</div>
