<body class="text-center container">
  <div
    class="alert alert-primary"
    role="alert"
    id="primary"
    *ngIf="showPrimary"
  >
    {{message}}
  </div>



  <div
    class="alert alert-secondary"
    role="alert"
    id="secondary"
    *ngIf="showSecondary"
  >
    {{message}}
  </div>
<!--  <div-->
<!--    class="alert alert-success"-->
<!--    role="alert"-->
<!--    id="success"-->
<!--    *ngIf="showSuccess"-->
<!--  >-->
<!--    {{message}}-->
<!--  </div>-->

  <div *ngIf="showSuccess || showDanger" id="toast" [class]=mainDivClass>
    <div id="img" [class]=imgDiv>
      <svg *ngIf="showSuccess" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
      </svg>
      <svg *ngIf="showDanger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
      </svg>
    </div>
    <div id="desc">{{message}}</div>
  </div>

<!--  <div-->
<!--    class="alert alert-danger"-->
<!--    role="alert"-->
<!--    id="danger"-->
<!--    *ngIf="showDanger"-->
<!--  >-->
<!--    {{message}}-->
<!--  </div>-->

  <div
    class="alert alert-warning"
    role="alert"
    id="warning"
    *ngIf="showWarning"
  >
    {{message}}
  </div>
  <div
    class="alert alert-info"
    role="alert"
    id="info"
    *ngIf="showInfo"
  >
    {{message}}
  </div>

<!--  <div id="myModal" class="mymodal" *ngIf="showPrimary">-->
<!--    <div class="alert alert-primary mymodal-content">-->
<!--        <p>Some text in the Modal Body</p>-->
<!--    </div>-->
<!--  </div>-->
</body>

