.container {
  max-width: 400px;
}

.mymodal {
  position: absolute;
  center: 0px;
  width: 300px;
  padding: 10px;
  z-index: 1; /* Sit on top */
  height: 200px; /* Full height */
}

/* Modal Content */
.mymodal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 400px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-42px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-42px; opacity:0}
  to {top:0; opacity:1}
}

/* Toast */
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  color: yellow;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 0;right:0;
  top: 30px;
  font-size: 17px;
  white-space: nowrap;
}

#toast.success {
  background-color: lightgreen;
}
#img.success {
  background-color: lightgreen;
}

#toast.danger {
  background-color: orangered;
}
#img.danger {
  background-color: orangered;
}

#toast #img{
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  color: #fff;
}

#toast #desc{
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 60px; opacity: 0;}
}


