input.ng-invalid.ng-touched {
  border: 1px solid orangered;
}

.input-field .helper-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.error-text {
  color: #dd450d !important;
}

.center {
  text-align: center;
  width: 50%;
}

