<body class="container">
<form (ngSubmit)="createOrUpdateCategory(f)" #f="ngForm" class="form-signin">
  <h1 class="h3 mb-3 text-center font-weight-normal">{{isNew ? 'Create' : 'Edit' }} Category:</h1>

  <div class="form-row">
    <label>Название категории:</label>
  </div>
  <div class="form-row">
    <input
      type="text"
      name="categoryName"
      id="categoryName"
      class="form-control mb-3"
      placeholder="Name"
      required
      [(ngModel)]="categoryName"
    >
<!--    <span-->
<!--      class="helper-text error-text"-->
<!--      *ngIf="categoryName.invalid && categoryName.touched"-->
<!--    >-->
<!--        <span *ngIf="categoryName.errors['required']">Название категории не должно быть пустым.</span>-->
<!--      </span>-->
  </div>
  <div>
    <button [disabled]="!f.valid" class="btn btn-primary center"
            type="submit">{{isNew ? 'Create' : 'Update' }}</button>
    <button class="btn btn-secondary center" (click)="cancel()">Cancel</button>
  </div>
</form>


</body>
