@import '../../shared/styles/shared';

.figure {
  position: relative;
  height: 400px;
  overflow: hidden;

  color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.photo {
  position: absolute;
  width: 100%;
  margin: -10% 0 0 0;
}

.card-body {
  margin-top: -1.5rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
  color: black;
}

.badge-cat {
  font-size: 75% !important;
}


