<div *ngIf="isLoaded$ | async">
  <div *ngIf="posts$ | async as posts">
    <div *ngIf="posts.length !== 0; else empty">
      <div *ngFor="let post of posts" class="blog-post">
        <div class="p-0 mb-4 box-shadow">
          <span class="badge badge-cat badge-pill badge-info">{{ post.category.name }}</span>
          <h4 class="m-0">
            <a class="blog-post-title"
               [routerLink]="['..','post', post.coolId]"
               [queryParams]="{page: currentPage}"
            >{{ post.title }}</a>
          </h4>
          <div class="m-0 d-flex justify-content-between align-items-center">
            <small class="text-muted">{{ post.createdDate | date: "short" }}</small>
          </div>
          <quill-view [content]="post.photo"></quill-view>

          <div class="card-body mb-3">
            <quill-view [content]="post.text"></quill-view>
          </div>
        </div>
        <ali-read-more
          [linkToGo]="['..','post', post.coolId]"
          [queryParams]="[currentPage]"
        ></ali-read-more>
        <h3 class="pb-4 mb-4 font-italic border-bottom"></h3>

      </div>
      <div class="row">
        <ali-bottom-nav *ngIf="isTagInUrl || isCatInUrl || isAuthorInUrl"
                        [hiddenRight]="true"
                        [apiUrl]="'/home'"
                        [leftButtonName]="'На главную'"
                        [ignoreQueryParams]="true"
        ></ali-bottom-nav>
        <ali-bottom-nav *ngIf="postsAmount$ | async as postsAmount"
                        [itemsAmount]=postsAmount
                        [currentPage]=currentPage
                        [numberOfItemsPerPage]=limit
                        [apiUrl]="'/home'"
        ></ali-bottom-nav>
      </div>

    </div>
  </div>
</div>
<ng-template #empty>
  <div>
    Нет постов :(
  </div>
</ng-template>
<div>
  <ali-loader *ngIf="isLoading$ | async "></ali-loader>
</div>
