<p>Привет всем! Меня зовут Алексей и я Java разработчик.</p>
<p>Проработав на Java какое-то время, я решил наконец-то взяться за Script. Следовательно, в этом блоге будут публиковаться какие-то статьи по JavaScript, Angular (так как сам блог написан на MEAN + Bootstrap + NgRx). Также не исключаю решение задачек, написание небольших приложений, ну, и, конечно, здесь будут мои мысли о собеседованиях, поиске работы и другом.</p>
<p>Искренне надеюсь, что некоторые статьи из этого блога окажутся кому-нибудь полезными.</p>
<p>С наилучшими пожеланиями, Алексей Ивашков.</p>

