<nav aria-label="Page navigation" *ngIf="numberOfPages > 1">
  <ul class="pagination justify-content-center" (click)="onClick()">
    <li class="page-item "
        [ngClass]="{'disabled': currentPageProps-1 ===0}">
      <a [routerLink]="[apiUrlProps]" [queryParams]="{page: currentPageProps - 1}" class="page-link">Previous</a>
    </li>
    <li *ngIf="currentPageProps > halfDigitsNumber+1" class="page-item "
        [ngClass]="{'disabled': currentPageProps ===1}">
      <a [routerLink]="[apiUrlProps]" [queryParams]="{page: 1}" class="page-link">First</a>
    </li>
    <li class="page-item" *ngFor="let page of pages"
        [ngClass]="{active: currentPageProps === page}"
    >
      <a [routerLink]="[apiUrlProps]" [queryParams]="{page: page}" class="page-link">
        {{ page }}
      </a>
    </li>
    <li *ngIf="currentPageProps < numberOfPages-halfDigitsNumber" class="page-item "
        [ngClass]="{'disabled': currentPageProps ===numberOfPages}">
      <a [routerLink]="[apiUrlProps]" [queryParams]="{page: numberOfPages}" class="page-link">Last</a>
    </li>
    <li class="page-item "
        [ngClass]="{'disabled': currentPageProps ===numberOfPages}">
      <a [routerLink]="[apiUrlProps]" [queryParams]="{page: currentPageProps + 1}" class="page-link">Next</a>
    </li>

  </ul>
</nav>
