:root {
  --color-primary: lightgray;
  --radius: 0.125rem;
}

.sidebar {
  --offset: 40%;
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  //position: sticky;
  top: var(--offset);
}

.component {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.component {
  position: relative;
  border: 1px solid var(--color-primary);
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
  //0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
  //0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);
}
